@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: "Roboto";
  font-size: 16px;
  color: #131A1E;
  line-height: 1.5;
  position: relative;
  background: white;
}

html, body, input, textarea, keygen, select, button, a {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: #263248;
  outline: none;
}
a:hover {
  text-decoration: underline;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #e1e3e6;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
  z-index: 2;
}
.scrolled .header-bar {
  height: 80px;
}

.footer {
  width: 100%;
}

/*
 * GRID
 */
.row {
  display: flex;
}
.row .col-1 {
  flex-basis: 8.3333333%;
  box-sizing: border-box;
}
.row .col-2 {
  flex-basis: 16.6666666%;
  box-sizing: border-box;
}
.row .col-3 {
  flex-basis: 24.9999999%;
  box-sizing: border-box;
}
.row .col-4 {
  flex-basis: 33.3333332%;
  box-sizing: border-box;
}
.row .col-5 {
  flex-basis: 41.6666665%;
  box-sizing: border-box;
}
.row .col-6 {
  flex-basis: 49.9999998%;
  box-sizing: border-box;
}
.row .col-7 {
  flex-basis: 58.3333331%;
  box-sizing: border-box;
}
.row .col-8 {
  flex-basis: 66.6666664%;
  box-sizing: border-box;
}
.row .col-9 {
  flex-basis: 74.9999997%;
  box-sizing: border-box;
}
.row .col-10 {
  flex-basis: 83.333333%;
  box-sizing: border-box;
}
.row .col-11 {
  flex-basis: 91.6666663%;
  box-sizing: border-box;
}
.row .col-12 {
  flex-basis: 99.9999996%;
  box-sizing: border-box;
}
.row.with-padding > div[class^=col-] {
  padding-left: 20px;
}
.row.with-padding div[class^=col-]:first-child {
  padding-left: 0px;
}
.row.center {
  justify-content: center;
}
.row.space-between {
  justify-content: space-between;
}
.row.space-around {
  justify-content: space-around;
}
.row.vert-top {
  align-items: flex-start;
}
.row.vert-center {
  align-items: center;
}
.row.vert-bottom {
  align-items: flex-end;
}

.col-fixed {
  flex-grow: 0;
  flex-shrink: 0;
}

.f-700 {
  flex-basis: 700px;
}

.f-300 {
  flex-basis: 300px;
}

.auto {
  flex: 1 1 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  color: #092836;
}

h1 {
  font-size: 3rem;
  padding-top: 1.5rem;
  font-weight: 100;
  padding-bottom: 12px;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.375;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 300;
}

h3 {
  font-size: 1.75em;
  line-height: 1.25;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

h4 {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  color: #104862;
}

p {
  padding-top: 0.3625em;
  padding-bottom: 0.3625em;
}

button.button {
  font-size: 0.875rem;
  outline: none;
  border: none;
  padding: 0.675rem 2rem;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 500;
  margin: 0.375rem 0;
  vertical-align: top;
  transition: background 0.3s, border-color 0.3s, color 0.3s;
  background-color: #D4DDE5;
  border-color: #D4DDE5;
  color: #131A1E;
  color: #334454;
}
button.button.fluid {
  width: 100%;
}
button.button.smallest {
  font-size: 0.75rem;
  padding: 0.35rem 1rem;
}
button.button.small {
  font-size: 0.75rem;
  padding: 0.5rem 1.5rem;
}
button.button.big {
  font-size: 1.25rem;
  padding: 0.75rem 2rem;
}
button.button.biggest {
  font-size: 1.5rem;
  padding: 1rem 3rem;
}
button.button.bordered:hover {
  color: #4e6b7c;
}
button.button.error {
  background-color: #D4343F;
  border-color: #D4343F;
  color: white;
}
button.button.error:hover {
  background-color: #f90f1f;
  border-color: #f90f1f;
  color: white;
}
button.button.error.disabled, button.button.error:disabled {
  cursor: initial;
}
button.button.error.disabled, button.button.error.disabled:hover, button.button.error.disabled:focus, button.button.error:disabled, button.button.error:disabled:hover, button.button.error:disabled:focus {
  background-color: #c97278;
  border-color: #c97278;
}
button.button.warn {
  background-color: #FFD24E;
  border-color: #FFD24E;
  color: white;
}
button.button.warn:hover {
  background-color: #ffd24e;
  border-color: #ffd24e;
  color: white;
}
button.button.warn.disabled, button.button.warn:disabled {
  cursor: initial;
}
button.button.warn.disabled, button.button.warn.disabled:hover, button.button.warn.disabled:focus, button.button.warn:disabled, button.button.warn:disabled:hover, button.button.warn:disabled:focus {
  background-color: #f2d98e;
  border-color: #f2d98e;
}
button.button.warn:hover {
  background-color: #ffe74e;
  border-color: #ffe74e;
}
button.button.info {
  background-color: #39C8DE;
  border-color: #39C8DE;
  color: white;
}
button.button.info:hover {
  background-color: #18e0ff;
  border-color: #18e0ff;
  color: white;
}
button.button.info.disabled, button.button.info:disabled {
  cursor: initial;
}
button.button.info.disabled, button.button.info.disabled:hover, button.button.info.disabled:focus, button.button.info:disabled, button.button.info:disabled:hover, button.button.info:disabled:focus {
  background-color: #77c7d3;
  border-color: #77c7d3;
}
button.button.success {
  background-color: #65D776;
  border-color: #65D776;
  color: white;
}
button.button.success:hover {
  background-color: #48f462;
  border-color: #48f462;
  color: white;
}
button.button.success.disabled, button.button.success:disabled {
  cursor: initial;
}
button.button.success.disabled, button.button.success.disabled:hover, button.button.success.disabled:focus, button.button.success:disabled, button.button.success:disabled:hover, button.button.success:disabled:focus {
  background-color: #9cd3a4;
  border-color: #9cd3a4;
}
button.button.bordered {
  border-width: 2px;
  border-style: solid;
  border-radius: 2em;
  background-color: transparent;
  color: #131A1E;
}
button.button:hover {
  background-color: #cadeef;
  border-color: #cadeef;
  color: #131A1E;
}
button.button.disabled, button.button:disabled {
  cursor: initial;
}
button.button.disabled, button.button.disabled:hover, button.button.disabled:focus, button.button:disabled, button.button:disabled:hover, button.button:disabled:focus {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
}

.form input, .form select, .form textarea {
  padding: 7px 12px;
  outline: none;
  border-width: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  background: white;
}
.form input:disabled, .form select:disabled, .form textarea:disabled {
  background: #f3f3f3;
}
.form .form-input {
  position: relative;
  display: inline-block;
  margin: 5px 0;
}
.form .form-input input,
.form .form-input textarea {
  outline: none;
  box-shadow: none;
}
.form .form-input input:not(:disabled),
.form .form-input textarea:not(:disabled) {
  box-shadow: inset 0 0 0 2px #D4DDE5;
}
.form .form-input input:not(:disabled):hover,
.form .form-input textarea:not(:disabled):hover {
  box-shadow: inset 0 0 0 2px #b4c4d2;
}
.form .form-input input:not(:disabled) + label,
.form .form-input textarea:not(:disabled) + label {
  background: none;
  pointer-events: none;
  transition: box-shadow 0.25s;
}
.form .form-input input:not(:disabled) + label:before, .form .form-input input:not(:disabled) + label:after,
.form .form-input textarea:not(:disabled) + label:before,
.form .form-input textarea:not(:disabled) + label:after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.form .form-input input:not(:disabled) + label:before,
.form .form-input textarea:not(:disabled) + label:before {
  top: 0;
  left: 0;
  transition: box-shadow 1s, border-color 0.45s ease-out, height 0.15s ease-out, width 0.15s ease-out 0.15s;
}
.form .form-input input:not(:disabled) + label:after,
.form .form-input textarea:not(:disabled) + label:after {
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  transition: box-shadow 1s, border-color 0.45s ease-out, width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.form .form-input input.error {
  box-shadow: inset 0 0 0 2px #D4343F;
}
.form .form-input input.error:hover {
  box-shadow: inset 0 0 0 2px #b0252f;
}
.form .form-input input.success {
  box-shadow: inset 0 0 0 2px #65D776;
}
.form .form-input input.success:hover {
  box-shadow: inset 0 0 0 2px #3dcc52;
}
.form .form-input input:not([type=checkbox]):focus + label:before, .form .form-input input:not([type=checkbox]):focus + label:after,
.form .form-input input[type=checkbox]:checked + label:before,
.form .form-input input[type=checkbox]:checked + label:after,
.form .form-input input[type=radio]:checked + label:before,
.form .form-input input[type=radio]:checked + label:after,
.form .form-input textarea:focus + label:before,
.form .form-input textarea:focus + label:after {
  width: 100%;
  height: 100%;
}
.form .form-input input:not([type=checkbox]):focus + label:before,
.form .form-input input[type=checkbox]:checked + label:before,
.form .form-input input[type=radio]:checked + label:before,
.form .form-input textarea:focus + label:before {
  border-top-color: #39C8DE;
  border-right-color: #39C8DE;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.form .form-input input:not([type=checkbox]):focus + label:after,
.form .form-input input[type=checkbox]:checked + label:after,
.form .form-input input[type=radio]:checked + label:after,
.form .form-input textarea:focus + label:after {
  border-bottom-color: #39C8DE;
  border-left-color: #39C8DE;
  transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}
.form .form-input input[type=checkbox],
.form .form-input input[type=radio] {
  opacity: 0;
}
.form .form-input input[type=checkbox] + label,
.form .form-input input[type=radio] + label {
  margin-left: -30px;
  padding: 5px;
  padding-left: 30px;
  pointer-events: initial;
}
.form .form-input input[type=checkbox] + label:hover,
.form .form-input input[type=radio] + label:hover {
  background: #fafafa;
}
.form .form-input input[type=checkbox] + label:before, .form .form-input input[type=checkbox] + label:after,
.form .form-input input[type=radio] + label:before,
.form .form-input input[type=radio] + label:after {
  top: 5px;
  left: 3px;
}
.form .form-input input[type=checkbox] + label:before,
.form .form-input input[type=radio] + label:before {
  content: "";
  font-family: FontAwesome;
  font-size: 11px;
  line-height: 1.1;
  color: #D4DDE5;
  transition: color 0.3s;
}
.form .form-input input[type=checkbox]:focus + label,
.form .form-input input[type=radio]:focus + label {
  background: #f3f3f3;
}
.form .form-input input[type=checkbox]:checked + label:before, .form .form-input input[type=checkbox]:checked + label:after,
.form .form-input input[type=radio]:checked + label:before,
.form .form-input input[type=radio]:checked + label:after {
  width: 15px;
  height: 15px;
}
.form .form-input input[type=checkbox]:checked + label:before,
.form .form-input input[type=radio]:checked + label:before {
  color: #39C8DE;
}
.form .form-input input[type=radio] + label:before, .form .form-input input[type=radio] + label:after {
  border-radius: 50%;
}
.form .form-input input[type=radio] + label:before {
  content: "";
  font-family: FontAwesome;
  font-size: 6px;
  line-height: 12px;
  padding-left: 3px;
  color: #D4DDE5;
  transition: color 0.3s;
}
.form .form-input {
  position: relative;
}
.form .form-input select + label {
  display: inline-block;
}
.form .form-input select + label:after {
  pointer-events: none;
  content: "";
  display: block;
  font-family: FontAwesome;
  color: #D4DDE5;
  font-size: 16px;
  margin-left: -30px;
  transition: 0.3s;
}
.form .form-input select {
  background: white;
  box-shadow: inset 0 0 0 2px #D4DDE5;
  padding-right: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form .form-input select:after {
  content: "ASDASDS";
}
.form .form-input select:disabled {
  pointer-events: none;
  background: #f3f3f3;
  box-shadow: 0 0 0 0;
}
.form .form-input select:focus {
  box-shadow: inset 0 0 0 2px black;
}
.form textarea:after {
  content: "ASDASD";
}

.table {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}
.table tr {
  border-bottom: 1px solid #D4DDE5;
}
.table td {
  padding: 0.25em 1em 0.25em 0.5em;
}
.table thead {
  border-bottom: 2px solid #D4DDE5;
}
.table.row-colored tr:nth-child(even) {
  background: rgba(212, 221, 229, 0.2);
}
.table.f-column-border td:first-of-type {
  border-right: 2px solid #D4DDE5;
}
.table.l-column-border td:last-of-type {
  border-left: 2px solid #D4DDE5;
}
.table.bordered {
  border: 1px solid #D4DDE5;
}

.blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-color: #D4DDE5;
  border-left-width: 2px;
}
.blockquote p {
  font-size: 1.5em;
  line-height: 1.5;
  font-style: italic;
}
.blockquote cite {
  font-style: italic;
}
.blockquote footer {
  opacity: 0.75;
}
.blockquote footer:before {
  content: "–";
  padding-right: 0.5em;
}
.blockquote.align-right {
  text-align: right;
  border-left-width: 0;
  border-right-width: 2px;
}

.alert-box {
  font-size: 0.75rem;
  position: relative;
  background: #FFFFFF;
  border-radius: 6px;
  margin: 10px 0;
  padding: 0.5em 50px;
  border: 2px solid #D4DDE5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  color: #131A1E;
  text-align: center;
  transition: box-shadow 0.3s;
}
.alert-box:hover {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
}
.alert-box.error {
  border-color: #D4343F;
}
.alert-box.error:after {
  font-family: FontAwesome;
  font-size: 1.2em;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  color: white;
  width: 40px;
  text-align: center;
}
.alert-box.error:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  background-color: #D4343F;
}
.alert-box.info {
  border-color: #39C8DE;
}
.alert-box.info:after {
  font-family: FontAwesome;
  font-size: 1.2em;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  color: white;
  width: 40px;
  text-align: center;
}
.alert-box.info:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  background-color: #39C8DE;
}
.alert-box.warn {
  border-color: #FFD24E;
}
.alert-box.warn:after {
  font-family: FontAwesome;
  font-size: 1.2em;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  color: white;
  width: 40px;
  text-align: center;
}
.alert-box.warn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  background-color: #FFD24E;
}
.alert-box.success {
  border-color: #65D776;
}
.alert-box.success:after {
  font-family: FontAwesome;
  font-size: 1.2em;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  color: white;
  width: 40px;
  text-align: center;
}
.alert-box.success:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  background-color: #65D776;
}
.alert-box .close {
  color: #131A1E;
}