.header-bar {
    background-color: #263248;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.header-bar_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-bar span {
    color: #50cfef;
    font-size: 28px;  
    font-weight: 300; 
    padding-left: 20px;
    margin-left: 10px;
}

.img-bg {
    background-color: white;
    padding: 6px 10px;
    border-radius: 50%;
    margin-left: 15px;
}

.content {
    display: flex;
    flex-flow: column;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}

.form {
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

 
.form textarea {
    width: 600px;
}

.button {
    width: 150px;
}

.result {
    margin-top: 100px;
}

.result-content {
    margin-top: 20px;
    display: flex;
    flex-flow: row;
}

.result-column  {
    flex: 1;
    padding: 30px;
}

.result-column p {
    font-size: 20px;
    margin-bottom: 25px;
}

.result-column:first-child {
    margin-right: 40px;
}